body{
    
    background: #1FA2FF; 
    background: -webkit-linear-gradient(to left, #3decd5, #12D8FA, #1FA2FF); 
    background: linear-gradient(to left, #3decd5, #12D8FA, #1FA2FF);
    font-family:'Times New Roman', Times, serif;
    

}
.titulo{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    
}
div.container{
    width:auto;
    height: 360px;
    border: 1px;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0.651);
    border-style: solid;
    margin-top: 30px;
}

div.card-body{
    width: 80%;
}
div.form-groun{
    text-align:left;

}
.cedula{
    margin-left: 115px;
    margin-top: 6px;
    font-size: 20px;
    font-weight: 70;
}
#Usuario{
    margin: 1px 117px;
    width: 170px;
    height: 30px;  

}
#email{
    margin: 20px;
    width: 600px;
}
#formulario{
    text-align:center; 
    
} 

.negacion{  
    position: relative;
}
/* diseño de los campos */
.form-control{
    /* width: auto; */
    height: 35px;
    margin: auto; 
    background-color: rgba(255, 255, 255, 0.936);
    border: 1px solid rgba(0, 0, 0, 0.501);
    border-radius: 7px;
    line-height: 45px;
    padding:  0 50px 0 10px;
    transform: .3s  ease all;

}
.form-control:hover {
    border: #3decd5;
    
}

.form-control:focus{
    border:rgba(56, 53, 223, 0.322);
    border: 3px solid  rgba(49, 46, 196, 0.692);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);

}
.error{
    font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.error-activo{
    display: block;

}
.iconoDeError{
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;

}
#mensajeDeError{
    height:50px;
    line-height: 45px;
    background-color: red;
    color: white;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
#mesajeDeError-activo{
    display: block;
}
#menERR{
    margin-bottom: 6px;
}
.form-groun-correcto .iconoDeError{
    color: #1ed12d;
    opacity: 1;
}
.form-groun-incorrecto .subtitulos{
    color: #bb2929;
}
.form-groun-incorrecto .iconoDeError{
    color: #bb2929;
    opacity: 1;
}
.form-groun-incorrecto .form-control{
    border: 3px solid #bb2929 ;
}


div.botones{
    margin-top: 30px;
    width: auto;
    justify-content: center;
    align-items: center;
    
    
    
}
.btn{

    width: 200px;
    margin:auto;

   
}
 /* ------- botones---------- */

/* sombra de los botones */
#boton1:hover {
   
    box-shadow: 0 12px 16px 0 rgba(48, 98, 236, 0.342), 0 17px 50px 0 rgba(48, 98, 236,  0.342);
} 
#boton2:hover {
   
    box-shadow: 0 12px 16px 0 rgba(255, 6, 6, 0.342), 0 17px 50px 0 rgba(255, 24, 24, 0.19);
} 
#boton3:hover {
   
    box-shadow: 0 12px 16px 0 rgba(15, 148, 37,  0.342), 0 17px 50px 0 rgba(15, 148, 37,  0.342);
} 
#boton4:hover {
    box-shadow: 0 12px 16px 0 rgba(235, 248, 51,  0.342), 0 17px 50px 0 rgba(235, 248, 51,  0.342);
} 

/*----------- mediaqueries---------------------*/
@media screen and (max-width:575px) {
    div.container{

        height: auto;
    }
    div.botones{
        margin-top: 3px;
        width: auto;
        justify-content: center;
        align-items: center;
        
        
        
    }
    .btn{
    
        width:100px;
        margin:5;
        margin-bottom: 2px;
       
    }
}



 