<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/prueba.css">
    <link rel="stylesheet" href="css/sweetalert2.min.css">
    <script src="js/sweetalert2.all.min.js"></script>
    
    
</head>
<body>
    
    <div class="mobile-screen">
        <div class="header">
          <h1>Log in</h1>
        </div>
        
        <div class="logo">
            <img src="img/usuario (1).png" alt="">
        </div>
        
        
      
        <form id="login-form">
          <input type="text" name="text" id="usuario" placeholder="Usuario">
          <input type="password" name="pass" id="contraseña" placeholder="Password">
          <a href="#" class="login-btn" id="boton">Log in</a>
    
        </form>
        
        
        
        <div class="other-options">
          <div class="option" id="newUser"><p class="option-text">New User</p></div>
          <div class="option" id="fPass"><p class="option-text"> Forgotten password</p></div>
        </div>
        
      </div>
      <script src="js/contraseña.js"></script>
    
</body>
</html>